.vertical-line-1 {
  border-left: 0.3mm solid black;
  height: 100%;
  position: absolute;
  right: 7.5mm; ;
}

.vertical-line-2 {
  border-left: 0.3mm solid rgb(150, 150, 150);
  height: 100%;
  position: absolute;
  right: 5.4mm; ;
}

.diamond-marker{
  width: 1.2mm;
  height: 1.2mm;
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}

.diamond-marker.top-1 {
  background-color: black;
  top: 0;
  right: 7.0mm; ;
}

.diamond-marker.bottom-1 {
  background-color: black;
  bottom: 0;
  right: 7.0mm; ;
}

.diamond-marker.top-red-1 {
  background-color: rgb(205,100,100);
  top: 0;
  right: 7.0mm; ;
}

.diamond-marker.bottom-red-1 {
  background-color: rgb(205,100,100);
  bottom: 0;
  right: 7.0mm; ;
}

.diamond-marker.top-green-1 {
  background-color: rgb(70,175,70);
  top: 0;
  right: 7.0mm; ;
}

.diamond-marker.bottom-green-1 {
  background-color: rgb(70,175,70);
  bottom: 0;
  right: 7.0mm; ;
}

.diamond-marker.top-2 {
  background-color: rgb(150, 150, 150);
  top: 0;
  right: 5.0mm; ;
}

.diamond-marker.bottom-2 {
  background-color: rgb(150, 150, 150);
  bottom: 0;
  right: 5.0mm; ;
}

.diamond-marker.top-3 {
  background-color: rgb(200, 200, 200);
  top: 0;
  right: 3.0mm; ;
}

.diamond-marker.bottom-3 {
  background-color: rgb(200, 200, 200);
  bottom: 0;
  right: 3.0mm; ;
}

.container {
  position: relative; ;
}

.inner-paragraph-1 {
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  margin-top: -1mm;
  width: 163.8mm;
  text-indent: 0mm;
}

.inner-paragraph-2 {
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  margin-top: 1mm;
  width: 120mm;
}

.inner-paragraph-3 {
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  margin-top: -2mm;
  width: 150mm;
}

.ordinary-near {
  margin-top: 0mm;
  margin-right: 10mm;
  margin-bottom: 0mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: 0mm;
}

.ordinary-far {
  margin-top: 0mm;
  margin-right: 10mm;
  margin-bottom: 4.5mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: 0mm;
}

.small-bullet-near {
  margin-top: 0mm;
  margin-right: 16mm;
  margin-bottom: 0mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -6mm;
}

.small-bullet-far {
  margin-top: 0mm;
  margin-right: 16mm;
  margin-bottom: 4.5mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -6mm;
}

.double-small-bullet-next-far {
  margin-top: 0mm;
  margin-right: 20.5mm;
  margin-bottom: 4.5mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -5.5mm;
}

.boxed {
  border: 1px solid rgb(150, 150, 150);
  padding: 1px 0.529166mm; ;
}

.boxed.dashed {
  border: 1px dashed rgb(100, 100, 100);
  padding: 0px 0.264583mm; ;
}

.boxed.underline-green {
  border-bottom: 1px dashed rgb(70, 175, 70);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-solidgreen {
  border-bottom: 2px solid rgb(150, 210, 150);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-blue {
  border-bottom: 1px dashed rgb(70, 70, 220);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-red {
  border-bottom: 1px dashed rgb(205, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-solidred {
  border-bottom: 2px solid rgb(255, 200, 200);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-black-1 {
  border-bottom: 1px solid rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-black-2 {
  border-bottom: 1px solid rgb(180, 180, 180);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-black-3 {
  border-bottom: 1px solid rgb(220, 220, 220);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-blackdashed {
  border-bottom: 1px dashed rgb(150, 150, 150);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-blackdotted {
  border-bottom: 1px dotted rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-blackdotted2 {
  border-bottom: 2px dotted rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-notsure {
  border-bottom: 0;
  border-left: 1px dotted rgb(100, 100, 100);
  border-right: 1px dotted rgb(100, 100, 100);
  border-top: 0;
  padding: 0px 0.264583mm;
}

.zero-margin {
  margin-top: 0mm;
  margin-right: 0mm;
  margin-bottom: 0mm;
  margin-left: 0mm;
  text-align: justify;
  text-indent: 0mm;
}

.zero-margin2 {
  margin-top: 0mm;
  margin-right: 6mm;
  margin-bottom: 0mm;
  margin-left: 0mm;
  text-align: justify;
  text-indent: -6mm;
}

@media print {
  .header {
    position: fixed;
    top: 0mm;
    left: 40mm;
    right: 40mm;
    text-align: left;
    font-size: 5mm;
  }

  .content {
    margin-top: 17mm;
    margin-bottom: 17mm;
    margin-left: 10mm;
    margin-right: 10mm;
  }

}

body {
  direction: rtl;
  text-align: right;
  width: 190mm;
  font-size: 4.5mm;
  line-height: 240%;
  font-family: 'KFGQPC Uthman Taha Naskh';
}