speech {
  font-size: 6mm;
  display: inline;
  color: inherit;
  text-decoration: none;
}

speech[open]::before {
  content: "«";
}

speech[close]::before {
  content: "»";
}

speech[underline]::before {
  text-decoration: underline;
}

speech[green]::before {
  color: rgb(70,175,70);
}

speech[red]::before {
  color: rgb(205,100,100);
}

speech[blue]::before {
  color: rgb(70, 70, 220);
}

speech[gray]::before {
  color: rgb(150, 150, 150);
}

.vertical-line-1 {
  border-left: 0.3mm solid black;
  height: 100%;
  position: absolute;
  right: 7.5mm;
  page-break-inside: auto; ;
}

.container {
  position: relative;
  page-break-inside: auto; ;
}

.inner-paragraph-1 {
  display: inline-block;
  page-break-inside: auto;
  vertical-align: top;
  text-align: justify;
  margin-top: -2mm;
  width: 106mm;
  text-indent: 0mm;
}

.inner-paragraph-2 {
  display: inline-block;
  page-break-inside: auto;
  vertical-align: top;
  text-align: justify;
  margin-top: 0mm;
  width: 70mm;
}

.ordinary-near {
  margin-top: 0mm;
  margin-right: 10mm;
  margin-bottom: 0mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: 0mm;
}

.ordinary-far {
  margin-top: 0mm;
  margin-right: 10mm;
  margin-bottom: 4.5mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: 0mm;
}

.small-bullet-near {
  margin-top: 0mm;
  margin-right: 16.5mm;
  margin-bottom: 0mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -6.5mm;
}

.small-bullet-near-2 {
  margin-top: 0mm;
  margin-right: 14.5mm;
  margin-bottom: 0mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -4.5mm;
}

.small-bullet-far-2 {
  margin-top: 0mm;
  margin-right: 14.5mm;
  margin-bottom: 4.5mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -4.5mm;
}

.big-bullet-near {
  margin-top: 0mm;
  margin-right: 19.5mm;
  margin-bottom: 0mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -9.5mm;
}

.boxed {
  border: 1px solid rgb(150, 150, 150);
  padding: 1px 0.529166mm; ;
}

.boxed.square {
  border-bottom: 1px solid rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 1px solid rgb(100, 100, 100);
  padding: 0px 0px; ;
}

.boxed.underline-green {
  border-bottom: 1px dashed rgb(190, 210, 190);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-gradient {
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, black, white);
  border-image-slice: 1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-gradientsym {
  width: 100%;
  border-bottom: 0.4mm solid;
  border-image: linear-gradient(to right, rgb(250, 250, 250) 0%,
  rgb(150, 150, 150) 50%,
  rgb(250, 250, 250) 100%);
  border-image-slice: 1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-solidgreen {
  border-bottom: 1px solid rgb(190, 210, 190);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-blue {
  border-bottom: 1px dashed rgb(70, 70, 220);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-red {
  border-bottom: 1px dashed rgb(235, 200, 200);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-solidred {
  border-bottom: 1px solid rgb(235, 200, 200);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-black-1 {
  border-bottom: 1px solid rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-black-far {
  border-bottom: 1px solid rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 3px 0mm; ;
}

.boxed.underline-black-2 {
  border-bottom: 1px solid rgb(180, 180, 180);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-black-3 {
  border-bottom: 1px solid rgb(220, 220, 220);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-blackdashed {
  border-bottom: 1px dashed rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-blackdotted {
  border-bottom: 1px dotted rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-blackdotted-far {
  border-bottom: 1px dotted rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 3px 0mm; ;
}

.boxed.underline-blackdotted2 {
  border-bottom: 2px dotted rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-three {
  border-bottom: 1px dashed rgb(100, 100, 100);
  border-left: 0;
  border-right: 1px dashed rgb(100, 100, 100);
  border-top: 1px dashed rgb(100, 100, 100);
  padding: 0px 0px; ;
}

.boxed.underline-notsure {
  border-bottom: 0;
  border-left: 1px dotted rgb(100, 100, 100);
  border-right: 1px dotted rgb(100, 100, 100);
  border-top: 0;
  padding: 0px 0.264583mm;
}

.zero-margin {
  margin-top: 0mm;
  margin-right: 0mm;
  margin-bottom: 0mm;
  margin-left: 0mm;
  text-align: justify;
  text-indent: 0mm;
}

.zero-margin6 {
  margin-top: 0mm;
  margin-right: 4mm;
  margin-bottom: 0mm;
  margin-left: 0mm;
  text-align: justify;
  text-indent: -4mm;
}

.highlight1 {
  color:  rgb(70, 175, 70);
}

.highlight2 {
  color:  rgb(205, 100, 100);
}

.highlight9 {
  color:  goldenrod;
}

@media print {
  .header {
    position: fixed;
    top: 0mm;
    left: 40mm;
    right: 40mm;
    text-align: left;
    font-size: 5mm;
  }

  .content {
    margin-top: 17mm;
    margin-bottom: 17mm;
    margin-left: 10mm;
    margin-right: 10mm;
  }

  .my-inline-block {
    margin-bottom: calc(100vh - 20px); ;
  }

}

body {
  direction: rtl;
  text-align: right;
  width: 190mm;
  font-size: 4.5mm;
  line-height: 240%;
  font-family: 'KFGQPC Uthman Taha Naskh';
}